* {
  box-sizing: border-box;
}
html, body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  color: #000;
  background-color: #fff;
  position: relative;
  height: 100%;
  width: 100%;
}
@media (min-width: 401px) {
  body>div {
    width: 100%;
    margin: 0;
    left: 0;
  }
}
@media (min-width: 400px) {
  body>div {
    width: 400px;
    left: 50%;
    margin: 0 0 0 -200px;
  }
}

body>div {
  height: 30em;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  padding: 0 10px;
  background-color: #fff;
}
header {
  display: block;
  padding: 10px 0;
}
h1, h2 {
  margin: 0;
}
h1 {
  font-size: 1.65em;
}
h2 {
  font-size: 1em;
  padding-bottom: 5px;
}
table {
  font-size: 13px;
}
table tr td {
  white-space: nowrap;
  overflow: ellipsis;
}
table tr td em {
  font-style: normal;
}
table tr td em.low-accuracy {
  color: #f00;
}
td.number {
  text-align: right;
}
table tr td:first-of-type:after {
  content: ":";
  padding-right: 5px;
}
table td.number {
  text-align: right;
}
.form {
  margin: 40px 0 0 0;
  padding: 0;
  position: relative;
  height: 330px;
}
form legend {
  box-sizing: border-box;
  display: block;
  font-size: 13px;
  font-weight: normal;
  display: block;
  text-align: center;
  position: absolute;
  padding: 5px 0;
  top: -25px;
  width: 60px;
  height: 26px;
  border-radius: 5px 5px 0 0;
  background-color: #eee;
  cursor: pointer;
  border-style: solid solid none solid;
  border-width: 1px;
  border-color: #aaa;
}
form .time { z-index: 1; }

form fieldset:nth-of-type( 1 ) legend { left: 0; }
form fieldset:nth-of-type( 2 ) legend { left: 60px; }
form fieldset:nth-of-type( 3 ) legend { left: 120px; }
form fieldset:nth-of-type( 4 ) legend { left: 180px; }
form fieldset:nth-of-type( 5 ) legend { left: 240px; }
form fieldset:nth-of-type( 6 ) legend { left: 300px; }

fieldset {
  display: block;
  position: absolute;
  height: 270px;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  border-radius: 3px;
  padding: 1em 1em 0.75em 1em;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #aaa;
  z-index: 0;
}
fieldset.actions {
  padding: 0 5px;
  border: none;
}
fieldset.active {
  z-index: 1;
}
fieldset.active legend {
  background-color: #fff;
  height: 26px;
}
fieldset label {
  font-size: 13px;
  position: relative;
  top: -2px;
}
fieldset span>label {
  display: inline-block;
  min-width: 4em;
  margin-bottom: 0.5em;
  padding-left: 2px;
}
fieldset>div>label {
  display: inline-block;
  min-width: 6.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}
fieldset span {
  display: block;
  float: left;
}
fieldset>div {
  margin-bottom: 1em;
}
fieldset>div>div {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
fieldset>div>div>label {
  display: inline-block;
  min-width: 4em;
}
select,
input[type="text"],
input[type="password"] {
  display: block;
  padding: 5px;
}
.misc.tab label {
  padding-left: 5px;
}
input[type="submit"] {
  display: block;
  margin: 280px 0 0 10px;
  float: right;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  border: solid 1px #ccc; 
}
.display.tab>div>div>span:first-of-type {
  height: 30px;
  clear: both;
  display: block;
  float: none;
}
.page .timers {
  padding-top: 0.75em;
  margin: 0;
}
.page {
  display: none;
  min-height: 195px;
}
.page.active {
  display: block;
}
.page.timer {
  position: relative;
  padding-top: 1em;
}
.page.timer>label {
  position: absolute;
  top: 0;
  left: 0;
}
.pages {
  text-align: center;
  white-space: nowrap;
}
.pages button {
  display: inline-block;
  width: 80px;
  cursor: pointer;
  padding: 5px 0;
  border: solid 1px #bbb;
  border-radius: 5px;
  background-color: #eee;
}
.pages button.active {
  font-weight: bold;
  cursor: default;
  color: #555;
  background-color: #ddd;
}
.pwshow {
  display: inline-block;
  padding: 5px 0 0 3px;
}
.pwshow>span {
  font-size: 12px;
  position: relative;
  top: 3px;
}
.actions {
  text-align: right;
}
ul li,
.pwshow>span {
  font-size: 12px;
}
.reboot>label {
  color: #700;
}
.reboot>label::before {
  position: relative;
  content: "\26A0";
  font-size: 1.5em;
  top: 2px;
  margin-right: 3px;
}
.reboot>div {
  padding-top: 5px;
  text-align: center;
}
.reboot button {
  text-align: left;
  padding-left: 32px;
  position: relative;
  margin: 0.5em 0;
  width: 155px;
  height: 50px;
  font-weight: bold;
  cursor: pointer;
  color: #000;
  background-color: #eaa;
  border-radius: 5px;
  border: solid 2px #000;
}
.reboot button::before {
  position: absolute;
  top: 11px;
  left: 11px;
  content: "\23fb";
  font-size: 1.5em;
  margin-right: 3px;
}
.reboot button:hover {
  color: #f00;
}
.timers {
  padding-top: 0;
}
.countdown.period {
  padding-top: 1em;
}
.countdown.period label {
  position: relative;
  top: -1px;
}
.countdown.period input {
  padding-left: 5px;
  padding-right: 5px;
  border-style: none none solid none;
  border-width: 1px;
  border-color: #000;
}
.countdown.period,
.countdown.buttons,
.stopwatch.buttons {
  text-align: center;
}
.countdown.buttons button,
.stopwatch.buttons button {
  display: inline-block;
  width: 100px;
  padding: 1.5em 1em;
  margin-top: 1em;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
}
.stopwatch.buttons button.start,
.countdown.buttons button.start {
  margin-right: 2em;
}
.stopwatch.buttons .start,
.countdown.buttons .start {
  background-color: #8b8;
}
.stopwatch.buttons .stop,
.countdown.buttons .stop {
  background-color: #eaa;
}
p.links {
  text-align: center;
  padding-top: 290px;
}
a.back {
  display: inline-block;
  z-index: 10;
}
.disabled {
  color: #bbb;
  pointer-events: none;
}
